* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../assets/images/background.jpg");
}

a,
a:active {
  color: #0056b3;
}

.status {
  font-size: 1.6rem;
  text-align: center;
}

.status.success {
  color: green;
}

.status.error {
  color: red;
}
